# INTRODUCTION

This project focuses on predicting the selling price of second-hand cars using machine learning. The goal is to build a regression model that can estimate car prices based on various features such as fuel type, mileage, transmission type, and engine size.

The dataset used contains details of multiple used cars. After loading and preparing the data, a Decision Tree Regressor model is trained to learn the relationship between the features and the target variable (price).

To improve the model's accuracy, GridSearchCV is used for hyperparameter tuning. This helps in finding the best set of parameters that reduce error and improve prediction performance.

Overall, the project demonstrates a step-by-step approach to building and optimizing a machine learning model for real-world use.

# IMPORTING NECESSARY LIBRARIES
Importing essential libraries such as Pandas Matplotlib, and Seaborn.

In [54]:
#Importing the necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# DATA LOADING AND PREPARATION

The dataset was first loaded using `pd.read_csv()` and stored in a DataFrame. Basic inspection was performed using:

- `data.info()` – to view column data types and non-null counts
- `data.describe()` – to examine statistical summaries of numeric columns
- `data.tail()` – to view the last few entries and confirm proper loading
- `data.head()` – to glance at the first few records
- `data.columns` – to get an overview of all column names in the dataset

After this initial examination, the following columns were dropped:
- `v.id`
- `on road now`
- `on road old`

These columns were removed because their descriptions were unclear and they were considered non-essential for the analysis.

In [55]:
#Load the dataset
data = pd.read_csv("Car_prices.csv")

In [56]:
#First five rows
data.head()

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
0,1,535651,798186,3,78945,1,2,14,177,73,123,351318.0
1,2,591911,861056,6,117220,5,9,9,148,74,95,285001.5
2,3,686990,770762,2,132538,2,8,15,181,53,97,215386.0
3,4,573999,722381,4,101065,4,3,11,197,54,116,244295.5
4,5,691388,811335,6,61559,3,9,12,160,53,105,531114.5

In [57]:
#Last five rows
data.tail()

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
995,996,633238,743850,5,125092,1,6,11,171,95,97,190744.0
996,997,599626,848195,4,83370,2,9,14,161,101,120,419748.0
997,998,646344,842733,7,86722,1,8,9,196,113,89,405871.0
998,999,535559,732439,2,140478,4,5,9,184,112,128,74398.0
999,1000,590105,779743,5,67295,4,2,8,199,99,96,414938.5

In [58]:
#Dataset information
data.info

<bound method DataFrame.info of      v.id  on road old  on road now  years      km  rating  condition  \
0       1       535651       798186      3   78945       1          2
1       2       591911       861056      6  117220       5          9
2       3       686990       770762      2  132538       2          8
3       4       573999       722381      4  101065       4          3
4       5       691388       811335      6   61559       3          9
..    ...          ...          ...    ...     ...     ...        ...
995   996       633238       743850      5  125092       1          6
996   997       599626       848195      4   83370       2          9
997   998       646344       842733      7   86722       1          8
998   999       535559       732439      2  140478       4          5
999  1000       590105       779743      5   67295       4          2

     economy  top speed   hp  torque  current price
0         14        177   73     123       351318.0
1          9        148   74      95       285001.5
2         15        181   53      97       215386.0
3         11        197   54     116       244295.5
4         12        160   53     105       531114.5
..       ...        ...  ...     ...            ...
995       11        171   95      97       190744.0
996       14        161  101     120       419748.0
997        9        196  113      89       405871.0
998        9        184  112     128        74398.0
999        8        199   99      96       414938.5

[1000 rows x 12 columns]>

In [59]:
data.describe()

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
count,1000.000000,1000.000000,1000.0000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.00000,1000.000000,1000.00000
mean,500.500000,601648.286000,799131.3970,4.561000,100274.430000,2.988000,5.592000,11.625000,166.89300,84.54600,103.423000,308520.24250
std,288.819436,58407.246204,57028.9502,1.719079,29150.463233,1.402791,2.824449,2.230549,19.28838,20.51694,21.058716,126073.25915
min,1.000000,500265.000000,700018.0000,2.000000,50324.000000,1.000000,1.000000,8.000000,135.00000,50.00000,68.000000,28226.50000
25%,250.750000,548860.500000,750997.7500,3.000000,74367.500000,2.000000,3.000000,10.000000,150.00000,67.00000,85.000000,206871.75000
50%,500.500000,601568.000000,798168.0000,5.000000,100139.500000,3.000000,6.000000,12.000000,166.00000,84.00000,104.000000,306717.75000
75%,750.250000,652267.250000,847563.2500,6.000000,125048.000000,4.000000,8.000000,13.000000,184.00000,102.00000,121.000000,414260.87500
max,1000.000000,699859.000000,899797.0000,7.000000,149902.000000,5.000000,10.000000,15.000000,200.00000,120.00000,140.000000,584267.50000

In [60]:
data.columns

Index(['v.id', 'on road old', 'on road now', 'years', 'km', 'rating',
       'condition', 'economy', 'top speed', 'hp', 'torque', 'current price'],
      dtype='object')

In [61]:
data.drop(columns=['v.id', 'on road old', 'on road now'], inplace=True)

# EXPLORATORY DATA ANALYSIS

In [ ]:
# Histograms
data.hist(figsize=(15, 10), bins=30)
plt.suptitle("Histograms of Numeric Features", fontsize=16)
plt.tight_layout()
plt.show()

In [ ]:
#Correlation heatmap
plt.figure(figsize=(12, 8))
corr_matrix = data.corr()
sns.heatmap(corr_matrix, annot=True, cmap="coolwarm", fmt=".2f")
plt.title("Correlation Heatmap", fontsize=16)
plt.show()

# FEATURES AND TARGET

After cleaning the dataset, the features (`X`) and the target variable (`y`) are defined. The target is the `current price` of the car, while the features include all other relevant attributes.

In [ ]:
X = data.drop("current price", axis=1 )
y = data["current price"]

# SPLITTING THE DATASET

To evaluate model performance properly, the dataset was split into training and testing sets using `train_test_split` from `sklearn.model_selection`. This helps test how well the model generalizes to unseen data.

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

# TRAINING THE DECISION TREE REGRESSOR MODEL

Importing the `DecisionTreeRegressor` model from `sklearn.tree`, training it on the training data using the `.fit()` method, and making predictions using `.predict()`.

In [ ]:
from sklearn.tree import DecisionTreeRegressor

tree_model = DecisionTreeRegressor()

tree_model.fit(X_train, y_train)

In [ ]:
y_pred1 = tree_model.predict(X_test)

In [ ]:
#Evaluating the model
from sklearn.metrics import root_mean_squared_error, r2_score

print(root_mean_squared_error(y_test, y_pred1))

print(r2_score(y_test, y_pred1))

# HYPERPARAMETER TUNING USING ```GridSearchCV```

To improve model performance, hyperparameter tuning using `GridSearchCV` was performed. 

This process searches through multiple combinations of parameters (like `max_depth`, `min_samples_split`, and `max_features`) to find the configuration that yields the best model performance.

After tuniain the mowas retrained del using the best parameters and evalduate again. In this case, we observed a lower error and improved accuracy.

In [ ]:
from sklearn.model_selection import GridSearchCV
grid_model = GridSearchCV(
    estimator=tree_model,
    param_grid = {
    'max_depth': [3, 5, 10, None],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': [None, 'sqrt', 'log2'],  
    'criterion': ['squared_error', 'absolute_error']
},
    cv=5, n_jobs=-1
)

In [ ]:
grid_model.fit(X_train, y_train)

In [ ]:
y_pred = grid_model.predict(X_test)

In [ ]:
#Evaluating the model

print(root_mean_squared_error(y_test, y_pred))

print(r2_score(y_test, y_pred))

# CONCLUSION


Initially, the Decision Tree Regressor showed decent performance, but the error margin (RMSE) was relatively high. After applying GridSearchCV to tune hyperparameters like `max_depth`, `min_samples_split`, and `min_samples_leaf`, the model’s performance improved significantly. This demonstrates the critical role of hyperparameter tuning in enhancing predictive accuracy and reducing overfitting or underfitting in machine learning models.